/*BASE STYLES*/
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500;700&family=Montagu+Slab:opsz,wght@16..144,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #2A4857;
    color: #F8DCBF;
    text-decoration: none;
    background-image: url(../img/bg_index.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
p {
    margin-bottom: 1em;
}
a:link, a:visited {
    color:#FF8623;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
    color: #F8DCBF;
}
img {
    max-width:100%;
    max-height:100%;
    object-fit: cover;
}
/*HEADER - NAVIGATION */
header {
    background-color: #438D94;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    position: fixed;
    top: 0;
    width: 100%;
}
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    font-family: 'Figtree', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.nav-center li {
    position: relative; 
}
.nav-left,
.nav-center,
.nav-right {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
}
.nav-left a,
.nav-center a,
.nav-right a {
    text-decoration: none;
    color: #F8DCBF;
    padding: 20px;
    min-width: 150px;
    text-align: center;
    display: block;
}
.nav-left a:hover,
.nav-center a:hover,
.nav-right a:hover {
    background-color: #FF8623;
    color: #438D94;
}
.dropdown-content {
    list-style: none;
    display: none;
    position: absolute;
    background-color: #438D94;
    z-index: 1;
    top: 100%;
    left: 0;
}
.nav-center li:hover .dropdown-content {
    display: block;
}
/*GENERAL PAGE*/ 
.body-blank {
    background-image: none;
}
h1, h2, h3 {
    font-family: 'Montagu Slab', serif;
    font-weight: 500;
    line-height: 1.5em;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center;
}
.main {
    margin-top: 60px;
}
.page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}
.page, .contacts, .portfolio {
    font-family: 'Figtree', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: justify;
    text-decoration: none;
    line-height: 1.5em;
}
.left-photo {
    flex: 0 0 auto;
    position: fixed; 
    left: 0; 
    height: 100vh; 
    width: 45vw;
    overflow: hidden; 
}
.right-text {
    flex: 1;
    margin-left: 45vw;
    padding: 35px 75px;
    display: flex; 
    align-items: center;
    flex-direction: column;
}
/*INDEX PAGE*/
.homepage {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    flex-direction: column;
    margin-top: 0;
}
.index-photo {
    height: 50vh;
    border-radius: 50%; 
    overflow: hidden; 
    margin: 0 auto; 
}
.index-text {
    font-size: 2em; 
    margin-top: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.homepage h1, .homepage h2 {
    margin-bottom: 0;
    margin-top: 0;
    color: #FF8623;
}
/*CONTACTS PAGE*/
.contacts {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.social {
    display: flex;
    width: 15vw;
    height:fit-content;
    justify-content: space-evenly;
}
.left-form {
    text-align:left;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}
.right-social {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form, fieldset {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:center;
    border: none;
    width: 40vw;
    color: #FF8623;
    justify-content: space-between;
}
form {
    margin-top: 30px;
}
input, textarea {
    background-color:#F8DCBF;
    color:#2A4857; 
    margin-top: 10px;
    height: 5vh;
    width: 40vw;
    border: 2px solid #438D94;
}
textarea {
    height:10vh;
}
.send {
    background-color:#FF8623;
    width: 15vw;
    height: 10vh;
    border: 2px solid #DD4C28;
    align-self: center;
}
.fa {
    font-size: 70px;
    color: #FF8623;
}
.fa:hover {
    color: #DD4C28;
}
.fa:active {
    color: #FF8623;
}
/*PORTFOLIO PAGE*/
.portfolio {
    padding: 20px 0;
    width: 70vw;
    margin-left: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio-title, .portfolio {
    color: #FF8623;
}
.portfolio-text {
    width: 60vw;
    color: #F8DCBF;
    margin-top: 5vh;
}
.button-container {
    text-align: center; 
}
.custom-button {
    display: block;
    width: fit-content; 
    height: 50px; 
    margin: 50px 0; 
    padding: 10px;
    background-color:#438D94;
    color:#F8DCBF;
    border: none; 
    cursor: pointer; 
    font-size: 30px; 
    text-transform: uppercase;
}
.custom-button:hover {
    background-color:#FF8623; 
    color:#438D94;
    text-decoration: none;
}
/*MOBILE STYLES*/
@media only screen and (max-width: 400px) {    
    /*GENERAL*/
    .page {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav, .nav-center {
        display:flex;
        flex-direction: column;
    }
    header {
        position: relative;
    }
    .left-photo {
        position: relative;  
        width: 100%;
        height: fit-content;
        padding: 0%;
        margin: 0%;
    }
    .right-text {
        width: 80vw;
        margin: 0%;
        padding: 0%;
        padding-bottom: 5vh;
        text-align: left;
    }
    /*CONTACTS*/
    .contacts {
        flex-wrap: wrap;
    }
    .left-form { 
        width: 80vw;
    }
    input, textarea, .send {
        width: 80vw;
    }
    .right-social {
        font-size: 10px;
        padding-top: 10vh;
    }
    .social {
        flex-direction: row;
        width: 80vw;
        justify-content: space-evenly;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
    /*PORTFOLIO*/
    .portfolio {
    padding:0%;
       margin:0%;
       width: 100%;
    }
    .portfolio-text {
        width: 80vw;
        text-align: left;
    }
    /*INDEX*/
    .index-text {
        font-size: 1em;
        padding: 10px;
    }   
}

/*TABLET STYLES*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
     /*GENERAL*/
    .page {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav, .nav-center {
        display:flex;
        flex-direction: column;
    }
    header {
        position: relative;
    }
    .left-photo {
        position: relative;  
        width: 100%;
        height: fit-content;
        padding: 0%;
        margin: 0%;
    }
    .right-text {
        width: 80vw;
        margin: 0%;
        padding: 0%;
        padding-bottom: 5vh;
    }
    /*CONTACTS*/
    .contacts {
        flex-wrap: wrap;
    }
    .left-form { 
        width: 80vw;
    }
    input, textarea {
        width: 80vw;
    }
    .send {
        width: 50vw;
        height: 5vh;
    }
    .right-social {
        font-size: 10px;
        padding-top: 5vh;
    }
    .social {
        flex-direction: row;
        width: 25vw;
        justify-content: space-evenly;
        padding-bottom: 5vh;
    }
    /*PORTFOLIO*/
    .portfolio {
    padding:0%;
       margin:0%;
       width: 100%;
    }
    .portfolio-text {
        width: 80vw;
    }
    /*INDEX*/
    .index-text {
        font-size: 2em;
        padding: 10px;
    }
}